In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv('Ketchup.csv')
df.head()

,Unnamed: 0,Ketchup.hid,Ketchup.id,Ketchup.choice,price.heinz,price.hunts,price.delmonte,price.stb
0,1,1,1,heinz,1.19,1.39,1.49,0.89
1,2,1,2,heinz,0.99,1.36,1.39,0.95
2,3,1,3,hunts,1.46,1.43,1.49,0.99
3,4,1,4,hunts,1.46,1.43,1.45,0.99
4,5,1,5,stb,1.46,1.36,1.39,0.95

In [3]:
df.describe()

,Unnamed: 0,Ketchup.hid,Ketchup.id,price.heinz,price.hunts,price.delmonte,price.stb
count,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000,4956.000000
mean,2478.500000,936.721550,3.095642,1.248900,1.343860,1.426945,0.921178
std,1430.818297,549.104119,3.065865,0.204913,0.176185,0.114157,0.068198
min,1.000000,1.000000,1.000000,0.790000,0.790000,0.890000,0.750000
25%,1239.750000,463.750000,1.000000,0.990000,1.360000,1.390000,0.890000
50%,2478.500000,923.000000,2.000000,1.190000,1.390000,1.460000,0.950000
75%,3717.250000,1406.000000,4.000000,1.460000,1.430000,1.490000,0.950000
max,4956.000000,1956.000000,24.000000,1.470000,1.530000,1.490000,0.990000

In [4]:
df.dtypes

Unnamed: 0          int64
Ketchup.hid         int64
Ketchup.id          int64
Ketchup.choice     object
price.heinz       float64
price.hunts       float64
price.delmonte    float64
price.stb         float64
dtype: object

In [5]:
df.shape

(4956, 8)

In [6]:
df.size

39648

In [7]:
df.tail()

,Unnamed: 0,Ketchup.hid,Ketchup.id,Ketchup.choice,price.heinz,price.hunts,price.delmonte,price.stb
4951,4952,1952,1,stb,1.39,1.31,1.45,0.99
4952,4953,1953,1,heinz,1.39,1.39,0.99,0.79
4953,4954,1954,1,stb,1.39,1.43,1.45,0.79
4954,4955,1955,1,stb,1.39,0.79,1.45,0.79
4955,4956,1956,1,stb,1.39,1.39,1.46,0.79

In [8]:
df.isnull().sum()

Unnamed: 0        0
Ketchup.hid       0
Ketchup.id        0
Ketchup.choice    0
price.heinz       0
price.hunts       0
price.delmonte    0
price.stb         0
dtype: int64

In [6]:
train_data = pd.read_csv("Ketchup.csv")
df_train = pd.read_csv("Ketchup.csv")
train_data.head()

,Unnamed: 0,Ketchup.hid,Ketchup.id,Ketchup.choice,price.heinz,price.hunts,price.delmonte,price.stb
0,1,1,1,heinz,1.19,1.39,1.49,0.89
1,2,1,2,heinz,0.99,1.36,1.39,0.95
2,3,1,3,hunts,1.46,1.43,1.49,0.99
3,4,1,4,hunts,1.46,1.43,1.45,0.99
4,5,1,5,stb,1.46,1.36,1.39,0.95

In [5]:
test_data = pd.read_csv("Ketchup.csv")
test_data.head()

,Unnamed: 0,Ketchup.hid,Ketchup.id,Ketchup.choice,price.heinz,price.hunts,price.delmonte,price.stb
0,1,1,1,heinz,1.19,1.39,1.49,0.89
1,2,1,2,heinz,0.99,1.36,1.39,0.95
2,3,1,3,hunts,1.46,1.43,1.49,0.99
3,4,1,4,hunts,1.46,1.43,1.45,0.99
4,5,1,5,stb,1.46,1.36,1.39,0.95

In [4]:
# Print train and test columns
test = pd.read_csv("Ketchup.csv")
train = pd.read_csv("Ketchup.csv")
print('Train columns:', train.columns.tolist())
print('Test columns:', test.columns.tolist())

Train columns: ['Unnamed: 0', 'Ketchup.hid', 'Ketchup.id', 'Ketchup.choice', 'price.heinz', 'price.hunts', 'price.delmonte', 'price.stb']
Test columns: ['Unnamed: 0', 'Ketchup.hid', 'Ketchup.id', 'Ketchup.choice', 'price.heinz', 'price.hunts', 'price.delmonte', 'price.stb']

In [11]:
# Convert the column to string type
train['Ketchup.choice'] = train['Ketchup.choice'].astype(str)

# Apply the lambda function to extract the first three characters
train['Ketchup.choice'] = train['Ketchup.choice'].apply(lambda x: x[0:3])

# Convert the column to category type
train['Ketchup.choice'] = train['Ketchup.choice'].astype('category')

# Encode the category codes
train['Ketchup.choice'] = train['Ketchup.choice'].cat.codes

# Convert the column to string type
test['Ketchup.choice'] = test['Ketchup.choice'].astype(str)

# Apply the lambda function to extract the first three characters
test['Ketchup.choice'] = test['Ketchup.choice'].apply(lambda x: x[0:3])

# Convert the column to category type
test['Ketchup.choice'] = test['Ketchup.choice'].astype('category')

# Encode the category codes
test['Ketchup.choice'] = test['Ketchup.choice'].cat.codes

KeyError: 'Ketchup.choice'

In [10]:
Y_train = train['Ketchup.choice'].ravel()
train = train.drop(['Ketchup.choice'], axis=1)
x_train = train.values
x_test = test.values